<div class="block">
  <%= form_with(model: post) do |form| %>
    <div class="block-head">
      <h6 class="block-title">
        <%= title %>
      </h6>
    </div>
    <div class="block-body">
      <% if post.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
            <% post.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="mb-4">
        <%= form.label :title, style: "display: block", class: 'form-label' %>
        <%= form.text_field :title, class: 'form-control', placeholder: 'Title of your Post', required: 'true' %>
      </div>

      <div class="form-floating">
        <%= form.text_area :content, class: 'form-control', rows: 10, style: 'height: 200px', required: 'true' %>
        <%= form.label :content do %>
          What's on your mind?
        <% end %>
      </div>
    </div>
    <div class="block-footer text-end">
      <button class="btn bg-custom-primary" type="submit">Save Post</button>
    </div>

  <% end %>
</div>
