<div id="<%= dom_id post %>">
  <div class="block rounded">
    <div class="block-head">
      <div class="d-flex justify-content-between">
        <div class="d-flex" >
          <span>
            <%= post.user.full_name %>
          </span>
          <i class="bi bi-dot"></i>
          <span class="text-muted text-small">
            <%= post.user.email %>
          </span>
        </div>
        <div class="d-flex">
          <span title="<%= date_formatter(post.created_at) %>" class="text-muted text-small me-2">Posted <%= time_ago_in_words(post.created_at) %> ago.</span>

          <i class="bi bi-three-dots" style="cursor: pointer" data-bs-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <li class="dropdown-header text-start">
              <h6>Options</h6>
            </li>

            <%= link_to "Edit", edit_post_path(post), class: 'dropdown-item'  %>
            <%= button_to "Delete", post, class: 'dropdown-item',  method: :delete %>

          </ul>
        </div>
      </div>
    </div>
    <%= link_to post do | d | %>
      <div class="block-body">
        <header class="post-header mb-2">
          <%= post.title %>
        </header>

        <p class="post-content">
          <%= post.content %>
        </p>
      </div>
    <% end %>
    <%= link_to post do | d | %>
      <div class="block-footer">
        <i class="bi bi-chat"></i> <%= post.feedbacks.count %>
      </div>
    <% end %>
  </div>
</div>
