<div id="<%= dom_id post %>">
  <div class="block rounded">
    <div class="block-head">
      <div class="d-flex justify-content-between">
        <div class="d-flex" >
          <span>
            <%= post.user.full_name %>
          </span>
          <i class="bi bi-dot"></i>
          <span class="text-muted text-small">
            <%= post.user.email %>
          </span>
        </div>
        <span title="<%= date_formatter(post.created_at) %>" class="text-muted text-small">Posted <%= time_ago_in_words(post.created_at) %> ago.</span>
      </div>
    </div>
    <%= link_to post do | d | %>
      <div class="block-body">
        <header class="post-header mb-2">
          <%= post.title %>
        </header>

        <p class="post-content">
          <%= post.content %>
        </p>
      </div>
    <% end %>
    <%= link_to post do | d | %>
      <div class="block-footer">
        <i class="bi bi-chat"></i> <%= post.feedbacks.count %>
      </div>
    <% end %>
  </div>
</div>
